@font-face {
  font-family: Alvy;
  src: url(./L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: rgb(237, 236, 236);
  font-family: "Alvy";
  font-size: clamp(14px, 1vw, 16px);
  background-color: rgb(6, 6, 6);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  max-width: 1900px;
}
main header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main header .left {
  text-transform: uppercase;
  font-size: 1.5rem;
}
main header .nav {
  display: none;
}
main header .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main header .right button {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  background-color: #CEBD63;
  border: none;
}
main header .right i {
  padding: 0.7rem;
  font-size: 2rem;
  background-color: rgba(30, 30, 30, 0.3882352941);
  border-radius: 0.4rem;
}
main .viewport-1 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 3rem 1rem;
  gap: 1rem;
}
main .viewport-1 .top img {
  width: 100%;
  border-radius: 12px;
}
main .viewport-1 .bottom {
  background-color: #1E1E1E;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
}
main .viewport-1 .bottom .title p {
  text-transform: uppercase;
}
main .viewport-1 .bottom .text h1 {
  font-size: 2.2rem;
  font-weight: 200;
  text-transform: uppercase;
  width: 80%;
  padding-bottom: 1rem;
}
main .viewport-1 .bottom .text p {
  line-height: 1.5;
  color: #6E6D6B;
  padding-bottom: 1.5rem;
}
main .viewport-1 .bottom .text .btn .down {
  border: 1px solid #999999;
  background-color: #292929;
  border-radius: 50%;
  padding: 0.5rem;
}
main .viewport-1 .bottom .text .btn .down i {
  font-size: 16px;
}
main .viewport-1 .bottom .text .btn .content {
  text-transform: uppercase;
  padding-left: 0.4rem;
  font-weight: 100;
}
main .viewport-2 {
  display: flex;
  width: 100%;
  text-align: center;
}
main .viewport-2 .top,
main .viewport-2 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
}
main .viewport-2 .top small {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1rem;
}
main .viewport-2 .top h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-2 .bottom small {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1rem;
}
main .viewport-2 .bottom h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0rem 1rem;
  gap: 1rem;
}
main .viewport-3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main .viewport-3 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
}
main .viewport-3 .bottom .title {
  text-transform: uppercase;
}
main .viewport-3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-3 .bottom .text .h1 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-3 .bottom .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .viewport-4 {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem 1rem;
  gap: 1rem;
}
main .viewport-4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main .viewport-4 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
}
main .viewport-4 .bottom .title {
  text-transform: uppercase;
}
main .viewport-4 .bottom .text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
main .viewport-4 .bottom .text .h1 {
  font-family: 2rem;
  font-weight: 100;
}
main .viewport-4 .bottom .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .viewport-5-1 {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
main .viewport-5-1 .title {
  text-align: center;
}
main .viewport-5-1 .title h1 {
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
}
main .viewport-5-1 .second {
  display: none;
}
main .viewport-5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-5 .cart1 {
  width: 100%;
  background-image: url(./Carts/cart1.webp);
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  border-radius: 0.7rem;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
main .viewport-5 .cart1 .top {
  display: flex;
  justify-content: flex-end;
}
main .viewport-5 .cart1 .top .icon {
  display: flex;
  gap: 1rem;
}
main .viewport-5 .cart1 .top .icon p {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.5176470588);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
main .viewport-5 .cart1 .top .icon p i {
  font-size: 1.2rem;
}
main .viewport-5 .cart1 .bottom {
  padding: 1rem;
  background-color: rgba(153, 153, 153, 0.431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
}
main .viewport-5 .cart1 .bottom .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
main .viewport-5 .cart1 .bottom .text h1 {
  font-weight: 100;
  color: white;
}
main .viewport-5 .cart2 {
  width: 100%;
  background: url(Carts/cart2.webp);
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  border-radius: 0.7rem;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
main .viewport-5 .cart2 .top {
  display: flex;
  justify-content: flex-end;
}
main .viewport-5 .cart2 .top .icon {
  display: flex;
  gap: 1rem;
}
main .viewport-5 .cart2 .top .icon p {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.5176470588);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
main .viewport-5 .cart2 .top .icon p i {
  font-size: 1.2rem;
}
main .viewport-5 .cart2 .bottom {
  padding: 1rem;
  background-color: rgba(153, 153, 153, 0.431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
}
main .viewport-5 .cart2 .bottom .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
main .viewport-5 .cart2 .bottom .text h1 {
  font-weight: 100;
  color: white;
}
main .viewport-5 .cart3 {
  width: 100%;
  background: url(Carts/cart3.webp);
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  border-radius: 0.7rem;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
main .viewport-5 .cart3 .top {
  display: flex;
  justify-content: flex-end;
}
main .viewport-5 .cart3 .top .icon {
  display: flex;
  gap: 1rem;
}
main .viewport-5 .cart3 .top .icon p {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.5176470588);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
main .viewport-5 .cart3 .top .icon p i {
  font-size: 1.2rem;
}
main .viewport-5 .cart3 .bottom {
  padding: 1rem;
  background-color: rgba(153, 153, 153, 0.431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
}
main .viewport-5 .cart3 .bottom .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
main .viewport-5 .cart3 .bottom .text h1 {
  font-weight: 100;
  color: white;
}
main .viewport-6 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main .viewport-6 .top {
  display: flex;
  flex-direction: column;
}
main .viewport-6 .top img {
  width: 100%;
  border-radius: 0.7rem;
  opacity: 0.6;
}
main .viewport-6 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 1rem;
}
main .viewport-6 .bottom .title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-6 .bottom .title p {
  text-transform: uppercase;
  color: #797979;
}
main .viewport-6 .bottom .title h1 {
  font-weight: 200;
  text-transform: uppercase;
  width: 80%;
}
main .viewport-6 .bottom .text {
  display: flex;
  flex-direction: column;
}
main .viewport-6 .bottom .text .lastbtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .viewport-6 .bottom .text .lastbtn .arrow {
  padding: 0.5rem;
  border: 1px solid #6E6D6B;
  border-radius: 50%;
}
main .viewport-6 .bottom .text .lastbtn p {
  text-transform: uppercase;
}
main .viewport-7-5 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 1rem 1rem;
  width: 100%;
  gap: 1rem;
}
main .viewport-7-5 .top {
  background-color: #CEBD63;
  color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-7-5 .top .text {
  width: 80%;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;
}
main .viewport-7-5 .top .text .title {
  text-transform: uppercase;
  font-size: 1rem;
}
main .viewport-7-5 .top .btn {
  text-align: center;
}
main .viewport-7-5 .top .btn button {
  padding: 0.7rem 3rem;
  border-radius: 0.4rem;
  background-color: #1E1E1E;
  color: white;
  text-transform: uppercase;
  border: none;
}
main .viewport-7 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  width: 100%;
  gap: 1rem;
}
main .viewport-7 .top {
  background-color: #CEBD63;
  color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-7 .top .text {
  width: 80%;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;
}
main .viewport-7 .top .text .title {
  text-transform: uppercase;
  font-size: 1rem;
}
main .viewport-7 .top .btn {
  text-align: center;
}
main .viewport-7 .top .btn button {
  padding: 0.7rem 3rem;
  border-radius: 0.4rem;
  background-color: #1E1E1E;
  color: white;
  text-transform: uppercase;
  border: none;
}
main .viewport-7 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  padding: 2rem;
  gap: 2rem;
  border-radius: 0.7rem;
}
main .viewport-7 .bottom .title h2 {
  text-transform: uppercase;
  font-weight: 200;
}
main .viewport-7 .bottom .social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
main .viewport-7 .bottom .social .icon1 {
  display: flex;
  gap: 1rem;
}
main .viewport-7 .bottom .social .icon2 {
  display: flex;
  gap: 1rem;
}
main .viewport-7 .bottom .social .icon3 {
  display: flex;
  gap: 1rem;
}
main .viewport-7 .bottom .social .icon4 {
  display: flex;
  gap: 1rem;
}
main .viewport-7 .pages {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  padding: 2rem;
  gap: 2rem;
  border-radius: 0.7rem;
}
main .viewport-7 .pages .first {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .viewport-7 .pages .first .title p {
  font-size: 1.5rem;
  text-transform: uppercase;
}
main .viewport-7 .pages .first .items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  color: #797979;
}
main .viewport-7 .pages .first .btn button {
  background-color: #CEBD63;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-family: "Alvy";
  border-radius: 0.4rem;
}
main .viewport-7 .pages .second {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .viewport-7 .pages .second .title p {
  font-size: 1.5rem;
  text-transform: uppercase;
}
main .viewport-7 .pages .second .items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  color: #797979;
}
main .viewport-7 .pages .last {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .viewport-7 .pages .last .title p {
  font-size: 1.5rem;
  text-transform: uppercase;
}
main .viewport-7 .pages .last .items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  color: #797979;
}
main .viewport-7 .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .viewport-7 .footer .footer1 {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-transform: uppercase;
}
main .viewport-7 .footer .footer2 {
  display: flex;
  gap: 1rem;
}

@media (min-width: 900px) {
  main header .right i {
    display: none;
  }
  main header .right .nav {
    display: block;
    display: flex;
    gap: 0.5rem;
  }
  main header .right .nav p {
    background-color: #1E1E1E;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  main .viewport-1 {
    flex-direction: row;
  }
  main .viewport-1 .top,
  main .viewport-1 .bottom {
    width: 50%;
  }
  main .viewport-1 .bottom {
    justify-content: space-between;
    gap: 0;
    padding: 3rem;
  }
  main .viewport-1 .bottom .text h1 {
    font-size: 3rem;
  }
  main .viewport-1 .bottom .text .btn {
    margin-bottom: 1rem;
  }
  main .viewport-2 .top,
  main .viewport-2 .bottom {
    flex-direction: row;
  }
  main .viewport-3 {
    flex-direction: row-reverse;
  }
  main .viewport-3 .top,
  main .viewport-3 .bottom {
    width: 50%;
  }
  main .viewport-3 .bottom {
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  main .viewport-3 .bottom .text h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  main .viewport-3 .bottom .text .paragraphs {
    flex-direction: row;
  }
  main .viewport-4 {
    flex-direction: row;
  }
  main .viewport-4 .top,
  main .viewport-4 .bottom {
    width: 50%;
  }
  main .viewport-4 .bottom {
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  main .viewport-4 .bottom .text h1 {
    font-size: 3rem;
    font-weight: 200;
  }
  main .viewport-4 .bottom .text .paragraphs {
    flex-direction: row;
  }
  main .viewport-5 {
    flex-direction: row;
    justify-content: space-around;
  }
  main .viewport-5-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main .viewport-5-1 .title h1 {
    font-size: 4rem;
    font-weight: 100;
  }
  main .viewport-5-1 .second {
    display: block;
  }
  main .viewport-6 {
    flex-direction: row;
  }
  main .viewport-6 .top,
  main .viewport-6 .bottom {
    width: 50%;
  }
  main .viewport-6 .bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main .viewport-7 {
    flex-direction: row;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 75% 1fr;
    grid-template-areas: "bottom pages" "bottom footer";
  }
  main .viewport-7 .bottom {
    justify-content: space-between;
    grid-area: bottom;
  }
  main .viewport-7 .bottom .title {
    display: flex;
  }
  main .viewport-7 .bottom .social {
    justify-content: space-around;
  }
  main .viewport-7 .pages {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    grid-area: pages;
  }
  main .viewport-7 .pages .first .btn {
    margin-top: 4rem;
  }
  main .viewport-7-5 .top {
    padding: 4rem;
    gap: 3rem;
  }
  main .viewport-7-5 .top .text > p {
    font-size: 4rem;
    align-items: center;
  }
  main .viewport-7-5 .top .btn {
    display: flex;
    align-items: flex-end;
  }
  main .footer {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  main .viewport-7-5 .top {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */