@font-face {
  font-family: Alvy;
  src: url(./L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: rgb(237, 236, 236);
  font-family: "Alvy";
  font-size: clamp(14px, 1vw, 16px);
  background-color: rgb(6, 6, 6);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  max-width: 1900px;
}
main .viewport-1 {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  gap: 1rem;
}
main .viewport-1 .top img {
  width: 100%;
  border-radius: 12px;
}
main .viewport-1 .bottom {
  background-color: #1E1E1E;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
}
main .viewport-1 .bottom .title p {
  text-transform: uppercase;
}
main .viewport-1 .bottom .text h1 {
  font-size: 2.2rem;
  font-weight: 200;
  text-transform: uppercase;
  width: 80%;
  padding-bottom: 1rem;
}
main .viewport-1 .bottom .text p {
  line-height: 1.5;
  color: #6E6D6B;
  padding-bottom: 1.5rem;
}
main .viewport-1 .bottom .text .btn .down {
  width: 0.5rem;
  border: 1px solid #999999;
  background-color: #292929;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1rem;
}
main .viewport-1 .bottom .text .btn .content {
  text-transform: uppercase;
  padding-left: 0.4rem;
  font-weight: 100;
}
main .viewport-2 {
  display: flex;
  width: 100%;
  text-align: center;
}
main .viewport-2 .top, main .viewport-2 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
}
main .viewport-2 .top small {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1rem;
}
main .viewport-2 .top h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-2 .bottom small {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1rem;
}
main .viewport-2 .bottom h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0rem 1rem;
  gap: 1rem;
}
main .viewport-3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main .viewport-3 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
}
main .viewport-3 .bottom .title {
  text-transform: uppercase;
}
main .viewport-3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .viewport-3 .bottom .text .h1 {
  font-size: 2rem;
  font-weight: 100;
}
main .viewport-3 .bottom .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .viewport-4 {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 3rem 1rem;
  gap: 1rem;
}
main .viewport-4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main .viewport-4 .bottom {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
}
main .viewport-4 .bottom .title {
  text-transform: uppercase;
}
main .viewport-4 .bottom .text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
main .viewport-4 .bottom .text .h1 {
  font-family: 2rem;
  font-weight: 100;
}
main .viewport-4 .bottom .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 900px) {
  main .viewport-1 {
    flex-direction: row;
  }
  main .viewport-1 .top, main .viewport-1 .bottom {
    width: 50%;
  }
  main .viewport-1 .bottom {
    justify-content: space-between;
    gap: 0;
    padding: 3rem;
  }
  main .viewport-1 .bottom .text h1 {
    font-size: 3rem;
  }
  main .viewport-1 .bottom .text .btn {
    margin-bottom: 1rem;
  }
  main .viewport-2 .top, main .viewport-2 .bottom {
    flex-direction: row;
  }
  main .viewport-3 {
    flex-direction: row-reverse;
  }
  main .viewport-3 .top, main .viewport-3 .bottom {
    width: 50%;
  }
  main .viewport-3 .bottom {
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  main .viewport-3 .bottom .text h1 {
    font-size: 3rem;
  }
  main .viewport-3 .bottom .text .paragraphs {
    flex-direction: row;
  }
  main .viewport-4 {
    flex-direction: row;
  }
  main .viewport-4 .top, main .viewport-4 .bottom {
    width: 50%;
  }
  main .viewport-4 .bottom {
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  main .viewport-4 .bottom .text h1 {
    font-size: 3rem;
  }
  main .viewport-4 .bottom .text .paragraphs {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */