@font-face {
    font-family: Alvy;
    src: url(./L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: rgb(237, 236, 236);
    font-family: 'Alvy';
    font-size: clamp(14px, 1vw, 16px);
    background-color: rgb(6, 6, 6);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



    section {
        max-width: 1900px;
    }

    .viewport-1 {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1rem;

        .top {
            img {
                width: 100%;
                border-radius: 12px;
            }

        }


        .bottom {
            background-color: #1E1E1E;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 1.5rem;

            .title {
                p {
                    text-transform: uppercase;
                }
            }


            .text {
                h1 {
                    font-size: 2.2rem;
                    font-weight: 200;
                    text-transform: uppercase;
                    width: 80%;
                    padding-bottom: 1rem;

                }

                p {
                    line-height: 1.5;
                    color: #6E6D6B;
                    padding-bottom: 1.5rem;
                }

                .btn {
                    .down {
                        border: 1px solid #999999;
                        background-color: #292929;
                        border-radius: 50%;
                        padding: 0.5rem;

                        i {
                            font-size: 16px;
                        }
                    }

                    .content {
                        text-transform: uppercase;
                        padding-left: 0.4rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }


    .viewport-2 {
        display: flex;
        width: 100%;
        text-align: center;

        .top,
        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            gap: 2rem;
        }

        .top {
            small {
                text-transform: uppercase;
                opacity: 0.5;
                font-size: 1rem;
            }

            h3 {
                font-size: 2rem;
                font-weight: 100;
            }
        }


        .bottom {
            small {
                text-transform: uppercase;
                opacity: 0.5;
                font-size: 1rem;
            }

            h3 {
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }

    .viewport-3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem 0rem 1rem;
        gap: 1rem;

        .top {
            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1rem;

            .title {
                text-transform: uppercase;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .h1 {
                    font-size: 2rem;
                    font-weight: 100;
                }

                .paragraphs {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }
            }
        }
    }

    .viewport-4 {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0rem 1rem;
        gap: 1rem;

        .top {
            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1rem;

            .title {
                text-transform: uppercase;
            }

            .text {
                gap: 1rem;
                display: flex;
                flex-direction: column;

                .h1 {
                    font-family: 2rem;
                    font-weight: 100;
                }

                .paragraphs {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }
    }

    .viewport-5-1 {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .title {
            text-align: center;

            h1 {
                font-weight: 200;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }

        .second {
            display: none;
        }
    }


    .viewport-5 {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .cart1 {
            width: 100%;
            background-image: url(./Carts/cart1.webp);
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
            border-radius: 0.7rem;
            opacity: 0.7;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 1rem;


            .top {
                display: flex;
                justify-content: flex-end;

                .icon {
                    display: flex;
                    gap: 1rem;

                    p {
                        border: 1px solid white;
                        padding: 0.5rem;
                        border-radius: 50%;
                        background-color: #99999984;
                        backdrop-filter: blur(5px);
                        width: fit-content;
                        text-align: center;

                        i {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .bottom {
                padding: 1rem;
                background-color: #9999996e;
                backdrop-filter: blur(5px);
                border-radius: 0.7rem;

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;

                    h1 {
                        font-weight: 100;
                        color: white;
                    }
                }
            }

        }

        .cart2 {
            width: 100%;
            background: url(Carts/cart2.webp);
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
            border-radius: 0.7rem;
            opacity: 0.7;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 1rem;


            .top {
                display: flex;
                justify-content: flex-end;

                .icon {
                    display: flex;
                    gap: 1rem;

                    p {
                        border: 1px solid white;
                        padding: 0.5rem;
                        border-radius: 50%;
                        background-color: #99999984;
                        backdrop-filter: blur(5px);
                        width: fit-content;
                        text-align: center;

                        i {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .bottom {
                padding: 1rem;
                background-color: #9999996e;
                backdrop-filter: blur(5px);
                border-radius: 0.7rem;

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;

                    h1 {
                        font-weight: 100;
                        color: white;
                    }
                }
            }

        }


        .cart3 {
            width: 100%;
            background: url(Carts/cart3.webp);
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
            border-radius: 0.7rem;
            opacity: 0.7;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 1rem;


            .top {
                display: flex;
                justify-content: flex-end;

                .icon {
                    display: flex;
                    gap: 1rem;

                    p {
                        border: 1px solid white;
                        padding: 0.5rem;
                        border-radius: 50%;
                        background-color: #99999984;
                        backdrop-filter: blur(5px);
                        width: fit-content;
                        text-align: center;

                        i {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .bottom {
                padding: 1rem;
                background-color: #9999996e;
                backdrop-filter: blur(5px);
                border-radius: 0.7rem;

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;

                    h1 {
                        font-weight: 100;
                        color: white;
                    }
                }
            }

        }
    }


    .viewport-6 {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .top {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                border-radius: 0.7rem;
                opacity: 0.6;

            }
        }


        .bottom {
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1rem;
            gap: 1rem;

            .title {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                p {
                    text-transform: uppercase;
                    color: #797979;
                }


                h1 {
                    font-weight: 200;
                    text-transform: uppercase;
                    width: 80%;
                }
            }

            .text {
                display: flex;
                flex-direction: column;

                .lastbtn {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .arrow {
                        padding: 0.5rem;
                        border: 1px solid #6E6D6B;
                        border-radius: 50%;
                    }

                    p {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    .viewport-7-5{
          display: flex;
        flex-direction: column;
        padding: 0rem 1rem 1rem 1rem;
        width: 100%;
        gap: 1rem;

        .top{
            background-color: #CEBD63;
            color: #1E1E1E;
            padding: 2rem;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .text{
                width: 80%;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 2.5rem;

                .title{
                text-transform: uppercase;
                font-size: 1rem;

            }
            }

            .btn{
                text-align: center;

                button{
                padding: 0.7rem 3rem;
                border-radius: 0.4rem;
                background-color: #1E1E1E;
                color: white;
                text-transform: uppercase;
                border: none;
                }

            }
        }


    }

    .viewport-7{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
        width: 100%;
        gap: 1rem;

        .top{
            background-color: #CEBD63;
            color: #1E1E1E;
            padding: 2rem;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .text{
                width: 80%;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 2.5rem;

                .title{
                text-transform: uppercase;
                font-size: 1rem;

            }
            }

            .btn{
                text-align: center;

                button{
                padding: 0.7rem 3rem;
                border-radius: 0.4rem;
                background-color: #1E1E1E;
                color: white;
                text-transform: uppercase;
                border: none;
                }

            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            padding: 2rem;
            gap: 2rem;
            border-radius: 0.7rem;

            .title{
                h2{
                text-transform: uppercase;
                font-weight: 200;
                }
            }

            .social{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-size: 1rem;

                .icon1{
                    display: flex;
                    gap: 1rem;
                }

                .icon2{
                    display: flex;
                    gap: 1rem;
                }

                .icon3{
                    display: flex;
                    gap: 1rem;
                }

                .icon4{
                    display: flex;
                    gap: 1rem;
                }
            }

        }


        .pages{
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            padding: 2rem;
            gap: 2rem;
            border-radius: 0.7rem;

            .first{
                display: flex;
                gap: 1rem;
                flex-direction: column;

                .title{
                    p{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }

                .items{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    text-transform: uppercase;
                    color: #797979;
                }

                .btn{
                    button{
                        background-color:#CEBD63;
                        border: none;
                        padding: 0.7rem 2rem;
                        font-size: 1rem;
                        font-family: 'Alvy';
                        border-radius: 0.4rem;
                    }
                }
            }

            .second{
                 display: flex;
                gap: 1rem;
                flex-direction: column;

                .title{
                    p{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }

                .items{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    text-transform: uppercase;
                    color: #797979;
                }

            }

            .last{

                 display: flex;
                gap: 1rem;
                flex-direction: column;

                .title{
                    p{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }

                .items{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    text-transform: uppercase;
                    color: #797979;
                }

            }
        }
    }
}


@media (min-width:900px) {
    main {

        .viewport-1 {
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                gap: 0;
                padding: 3rem;

                .text {
                    h1 {
                        font-size: 3rem;
                    }

                    .btn {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .viewport-2 {

            .top,
            .bottom {
                flex-direction: row;
            }
        }

        .viewport-3 {
            flex-direction: row-reverse;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 2rem 3rem;

                .text {
                    h1 {
                        font-size: 2.5rem;
                        font-weight: 200;

                    }

                    .paragraphs {
                        flex-direction: row;
                    }
                }
            }
        }

        .viewport-4 {
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 2rem 3rem;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 200;
                    }

                    .paragraphs {
                        flex-direction: row;
                    }
                }
            }
        }

        .viewport-5 {
            flex-direction: row;
            justify-content: space-around;
        }

        .viewport-5-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .title {
                h1 {
                    font-size: 4rem;
                    font-weight: 100;
                }
            }

            .second {
                display: block;
            }
        }

        .viewport-6 {
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                padding: 3rem;
                justify-content: space-between;
            }
        }

    .viewport-7{
        flex-direction: row;

        .bottom{
            width: 30%;
            justify-content: space-between;
            .title{
                display: flex;
            }
            .social{
                justify-content: space-around;
            }
        }

        .pages{
            width: 70%;
            flex-direction: row;
            justify-content: space-around;
            padding: 1rem;

            .first{
                .btn{
                    margin-top: 4rem;
                }
            }
        }
    }

    .viewport-7-5{
        .top{
            padding: 4rem;
                    gap: 3rem;
            
            .text>p{
                font-size: 4rem;
                align-items: center;
            }

            .btn{
                display: flex;
                align-items: flex-end;
            }
        }
    }
    }

}

@media (min-width:1200px) {
    main{
    .viewport-7-5{
        .top{
            flex-direction: row;
        }
        
    }
}
}