@font-face {
    font-family: Alvy;
    src: url(./L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: rgb(237, 236, 236);
    font-family: 'Alvy';
    font-size: clamp(14px, 1vw, 16px);
        background-color: rgb(6, 6, 6);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



    section {
        max-width: 1900px;
    }

    .viewport-1 {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1rem;

        .top {
            img {
                width: 100%;
                border-radius: 12px;
            }

        }


        .bottom {
            background-color: #1E1E1E;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 1.5rem;

            .title {
                p {
                    text-transform: uppercase;
                }
            }


            .text {
                h1 {
                    font-size: 2.2rem;
                    font-weight: 200;
                    text-transform: uppercase;
                    width: 80%;
                    padding-bottom: 1rem;

                }

                p {
                    line-height: 1.5;
                    color: #6E6D6B;
                    padding-bottom: 1.5rem;
                }

                .btn {
                    .down {
                        width: 0.5rem;
                        border: 1px solid #999999;
                        background-color: #292929;
                        border-radius: 50%;
                        padding: 0.5rem;
                        font-size: 1rem;
                    }

                    .content {
                        text-transform: uppercase;
                        padding-left: 0.4rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }


    .viewport-2{
        display: flex;
        width: 100%;
        text-align: center;

        .top, .bottom{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            gap: 2rem;
        }

        .top{
            small{
                text-transform: uppercase;
                opacity: 0.5;
                font-size: 1rem;
            }

            h3{
                font-size: 2rem;
                font-weight: 100;
            }
        }


            .bottom{
            small{
                text-transform: uppercase;
                opacity: 0.5;
                font-size: 1rem;
            }

            h3{
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }

    .viewport-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem 0rem 1rem;
        gap: 1rem;

        .top{
            img{
            width: 100%;
            border-radius: 0.7rem;
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1rem;

            .title{
                text-transform: uppercase;
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .h1{
                    font-size: 2rem;
                    font-weight: 100;
                }
                .paragraphs{
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }
            }
        }
    }

    .viewport-4{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 3rem 1rem;
        gap: 1rem;

        .top{
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1rem;
            .title{
                text-transform: uppercase;
            }

            .text{
                gap: 1rem;
                display: flex;
                flex-direction: column;

                .h1{
                    font-family: 2rem;
                    font-weight: 100;
                }
                .paragraphs{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }
    }
}


@media (min-width:900px) {
    main {

        .viewport-1 {
            flex-direction: row;

            .top,.bottom{
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                gap: 0;
                padding: 3rem;

                .text {
                    h1 {
                        font-size: 3rem;
                    }

                    .btn{
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .viewport-2{
            .top,.bottom{
                flex-direction: row;
            }
        }

        .viewport-3{
            flex-direction: row-reverse;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 2rem 3rem;

                .text{
                    h1{
                        font-size: 3rem;
                    }
                    .paragraphs{
                        flex-direction: row;
                    }
                }
            }
        }

        .viewport-4{
            flex-direction: row;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 2rem 3rem;

                .text{
                    h1{
                        font-size: 3rem;
                    }
                .paragraphs{
                    flex-direction: row;
                }
             }
            }
        }
    }

}